<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="common/include :: header('套餐审核列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li class="select-time">
                                <label>创建时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="common/include :: footer" />
    <script th:inline="javascript">
        var statusDatas = [[${@dict.getType('cpa_status')}]];
        var editFlag = [[${@permission.hasPermi('business:carPackageAudit:edit')}]];
        var removeFlag = [[${@permission.hasPermi('business:carPackageAudit:remove')}]];
        var prefix = ctx + "/business/carPackageAudit";

        $(function() {
            var options = {
                url: prefix + "/todoQuery",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "套餐审核",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    visible: false
                },
                {
                    field: 'serviceItem.name',
                    title: '套餐名称'
                },

                {
                    field: 'serviceItemInfo',
                    title: '套餐备注',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10);
                    }
                },
                {
                    field: 'serviceItemPrice',
                    title: '套餐价格'
                },
                {
                    field: 'creator',
                    title: '创建人'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'auditor.userName',
                    title: '当前节点审核人'
                },
                {
                    field: 'auditTime',
                    title: '最后审核时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(row.status == 0){
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" ' +
                                'onclick="showAuditPage(\'' + row.id + '\')"><i class="fa fa-edit"></i> 审批</a> ');
                        }
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" ' +
                            'onclick="showProcessImgDialog(\'' + row.id + '\')"><i class="fa fa-image"></i> 进度查看 </a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function showProcessImgDialog(id) {
            var url = prefix + '/processImg?id=' + id;
            $.modal.open("查看流程图", url);
        }

        //审批
        function showAuditPage(id) {
            var url = prefix + "/auditPage?id=" + id;
            $.modal.open("流程审核", url);
        }


    </script>
</body>
</html>