.background-img {
    width: 100%;
    height: 500px;
}
.background-img img {
    width: 100%;
    height: 100%;
}
.main-content {
    text-align: center;
}
.main-content .nav-list {
    padding: 30px 0px 56px 0px;
}
.nav-list .nav-list-item {
    position: relative;
    display: inline-block;
    padding: 0px 35px;
    cursor: pointer;
    font-size: 20px;
    color: #999999;
}
.nav-list .nav-list-item::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color: #D4D4D4;
}
.nav-list .nav-list-item:last-child::after {
    content: '';
    display: none;
}
.main-content .content-item {
    display: inline-block;
    width: 1200px;
    text-align: left;
}
.content-item .title {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    font-size: 30px;
    color: #333333;
}
.content-item .title i {
    display: inline-block;
    width: 4px;
    height: 36px;
    margin-right: 10px;
    background-color: #388CFF;
}
.content-item .subtitle {
    padding: 17px 0px;
    text-align: center;
    border: 1px solid #707070;
    font-size: 24px;
    color: #333333;
}
.content-item .content {
    padding-top: 60px;
}

/*产品介绍*/
.content .info-list {
    display: flex;
    flex-wrap: wrap;
}
.info-list .info-item {
    flex: 0 0 50%;
    margin-bottom: 70px;
    padding: 0px 50px;
    font-size: 18px;
    color: #333333;
}
.info-item .info-title {
    margin-bottom: 20px;
}

/*车贷方案*/
.content .programme-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.programme-list .programme-item {
    position: relative;
    width: 560px;
    height: 410px;
    padding: 164px 87px 0px 87px;
    margin-top: 200px;
    background: url("../img/programme_bg.png") no-repeat center;
    background-size: 100% 100%;
}
.programme-item .programme-img {
    position: absolute;
    left: 50%;
    top: -200px;
    transform: translateX(-50%);
    width: 420px;
    height: 420px;
}
.programme-item .programme-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.programme-info .text{
    font-size: 18px;
    color: #333333;
}
.programme-info .value{
    font-size: 24px;
    color: #333333;
}

/*车贷指南*/
.guide-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.guide-menu .guide-menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 140px;
    cursor: pointer;
}
.guide-menu .guide-menu-item::after {
    content: '';
    position: absolute;
    right: -7px;
    top: 28px;
    width: 15px;
    height: 25px;
    background: url("../img/guide-icon.png") no-repeat center;
    background-size: 100% 100%;
}
.guide-menu .guide-menu-item:last-child::after {
    content: '';
    display: none;
}
.guide-menu .guide-menu-item span {
    font-size: 18px;
    color: #333;
}

/*公司介绍*/
.introduce-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.introduce-container .introduce-content {
    padding-right: 40px;
}
.introduce-content .introduce-info {
    margin-bottom: 40px;
    font-size: 18px;
    color: #333333;
}
.introduce-content .introduce-info2 {
    margin-bottom: 25px;
    font-size: 16px;
    color: #333333;
}
.introduce-content .introduce-info2 span {
    display: inline-block;
    padding: 0px 22px 12px 0px;
}
.introduce-content .introduce-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}
.introduce-content .introduce-subtitle {
    padding-bottom: 12px;
    font-size: 16px;
    color: #333333;
}
.introduce-container .introduce-img {
    height: 300px;
}
