<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>登录e店邦O2O平台</title>
    <meta name="description" content="登录e店邦O2O平台">
    <link href="../static/plugins/bootstrap/bootstrap.min.css" th:href="@{/plugins/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link href="../static/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css?v=4.6.1}" rel="stylesheet"/>
    <!-- 360浏览器急速模式 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    <style type="text/css">label.error { position:inherit;  }</style>
    <script>
        if(window.top!==window.self){alert('未登录或登录超时。请重新登录');window.top.location=window.location};
    </script>
</head>
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1><img width="40%" height="40%"  src="../static/logo.png" th:src="@{/logo.png}"></h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong>e店邦O2O平台</strong></h4>
                <strong >还没有账号？ <a th:href="@{/register}">立即注册&raquo;</a></strong>
            </div>
        </div>
        <div class="col-sm-5">
            <form id="signupForm" autocomplete="off">
                <h4 class="no-margins">登录：</h4>
                <input type="text"     name="username" class="form-control uname"     placeholder="用户名" value="admin"    />
                <input type="password" name="password" class="form-control pword"     placeholder="密码"   value="admin123" />
                <button class="btn btn-success btn-block" id="btnSubmit" data-loading="正在验证登录，请稍后...">登录</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            Copyright © 2017-2021 WolfCode All Rights Reserved. <br>
        </div>
    </div>
</div>
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!--[if lte IE 8]><script>window.location.href=ctx+'html/ie.html';</script><![endif]-->
<!-- 全局js -->
<script src="../static/plugins/jquery/jquery.min.js" th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script src="../static/plugins/bootstrap/bootstrap.min.js" th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script src="../static/plugins/validate/jquery.validate.min.js" th:src="@{/plugins/validate/jquery.validate.min.js}"></script>
<script src="../static/plugins/validate/messages_zh.min.js" th:src="@{/plugins/validate/messages_zh.min.js}"></script>
<script src="../static/plugins/layer/layer.min.js" th:src="@{/plugins/layer/layer.min.js}"></script>
<script src="../static/plugins/blockUI/jquery.blockUI.js" th:src="@{/plugins/blockUI/jquery.blockUI.js}"></script>
<script src="../static/ruoyi/js/ry-ui.js" th:src="@{/ruoyi/js/ry-ui.js?v=4.6.1}"></script>
<script src="../static/ruoyi/login.js" th:src="@{/ruoyi/login.js}"></script>
</body>
</html>
